body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

/* header */

.header {
  background-image: url(./img/section_one_header.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1012px;
  width: 100%;
}

.header_navbar {
  height: 120px;
  background: rgba(94, 93, 88, 0.6);
}

.header_nav_items {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_nav {
  display: flex;

}

.header_logo_H {
  color: #ffffff;
  font-size: 40px;
  line-height: 31px;
  font-weight: 700;
  background-image: url(./img/header_logo_img.png);
  width: 58px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_logo_text {
  color: #FFFFFF;
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  display: flex;
  margin-left: 5px;
}

.header_logo_txt_clr {
  color: #18CFAB;
  font-weight: 700;
}

.header_nav_link_item {
  color: #FFFFFF99;
  opacity: 60%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-right: 21px;
  text-transform: uppercase;
  position: relative;
}

.header_nav_link_item:hover::before {
  content: "";
  border-bottom: 2px solid #18CFAB;
  bottom: -51px;
  width: 100%;
  position: absolute;
  transition: .5s;
}

.header_nav_link_item:hover {
  color: #18CFAB;
  opacity: 1;
  transition: .5s;
}

.header_search {
  fill: #18CFAB;
  /* opacity: 1; */
}

.header_content {
  margin-top: 264px;
  text-align: center;
}

.header_content_slogan {
  color: #FFFFFF;
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.head_cont_slog_ctr {
  color: #18CFAB;
}

.headr_title {
  color: #FFFFFF;
  font-size: 78px;
  line-height: 78px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 22px 0;
}

.header_content_text {
  color: #D4D4D4;
  font-size: 34px;
  line-height: 34px;
  font-weight: 400;
  margin-bottom: 134px;
}

.header_content_list {
  display: flex;
  justify-content: center;
}

.header_list_item_green,
.header_list_item_blue {
  width: 170px;
  height: 64px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -5px white;
}

.header_list_item_green {
  background-color: #18CFAB;
  margin-right: 13px;
}

.header_list_item_blue {
  background-color: #00CBF6;
  margin-left: 13px;
}

.header_list_link {
  color: #FFFFFF;
  font-size: 15px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

/* section_two */

.sect_two {
  margin-top: 8px;
}

.sect_two_list_btn {
  display: flex;
  justify-content: center;
}

.sec_two_btn {
  width: 480px;
  height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 83px;
  padding: 85px 0;
}

.sec_two_btn:nth-child(odd) {
  background-color: #1C2A33;
}

.sec_two_btn:nth-child(even) {
  background-color: #18CFAB;
}

.sec_two_btn_link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.sec_two_btn_link_clr {
  color: #18CFAB;
}

.section_title {
  color: #4E4E4E;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 26px;
}

.section_title_underline {
  border-bottom: 1px solid #18CFAB;
  width: 76px;
  margin: 0 auto;
  position: relative;
}

.section_title_underline::after {
  content: "";
  border-bottom: 1px solid #18CFAB;
  width: 76px;
  position: absolute;
  bottom: 3px;
  right: 15px;
}

.sec_slides {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.sec_slide_list {
  color: #717171;
  font-size: 16px;
  line-height: 39px;
  font-weight: 400;
  background-color: #EDEFEF;
  height: 72px;
  width: 190px;
  border: 1px solid #DADADA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_slide_list:hover {
  border: 1px solid #18CFAB;
  transition: .5s;
}

.sec_two_active {
  color: #FFFFFF;
  background-color: #18CFAB;
  position: relative;
}

.sec_two_active::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 10px solid #18CFAB;
  position: absolute;
  top: 69px;
}

.sec_two_pic {
  width: 200px;
  height: 190px;
}

.sec_two_hidden {
  margin-top: 30px;
  display: flex;
  display: none;
}

.sec_two_text_active {
  display: flex;
}

.sec_two_hid_text {
  color: #777777;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  margin-left: 15px;
}

.sec_two_bckgnd {
  background-image: url(./img/sec_two_bckgrd_img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 476px;
  max-width: 1920px;
  margin: 90px auto 0 auto;
  padding-top: 126px;
}

.sec_two_sm_title {
  color: #18CFAB;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.sec_two_sm_slogan {
  margin-top: 12px;
  color: #D8D8D8;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
}

.sec_two_bckgnd_btn {
  margin: 70px auto 0 auto;
}

/* section_three */

.sec_three {
  background-color: #E9EDEF;
  padding: 95px 0 100px 0;
  max-width: 1920px;
  margin: auto;
}

.three_slides {
  width: 582px;
  justify-content: center;
  margin: 70px auto 70px auto;
}

.three_slide_list {
  font-size: 14px;
  line-height: 42px;
  height: 58px;
}

.three_slide_list:first-child {
  width: 80px;
}

.sec_three_flex {
  display: flex;
  width: 1160px;
  flex-wrap: wrap;
}

.sec_three_btn {
  width: 170px;
  height: 64px;
  background-color: #18CFAB;
  color: #ffffff;
  font-size: 14px;
  line-height: 42px;
  font-weight: 700;
  display: block;
  margin: 82px auto 0 auto;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  padding: 0 10px 0 10px;
}

.sec_three_active {
  border: 1px solid #18CFAB;
}

.sec_three_flex_item {
  width: 285px;
  height: 211px;
}

.sec_three_flex_wrap {
  position: relative;
  display: none;
}

.sec_three_img_active {
  display: block;
}

.hover {
  height: 211px;
  width: 285px;
  background-color: #E9EDEF;
  border-top: 2px solid #18CFAB;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.sec_three_flex_wrap:hover .hover {
  opacity: 1;
  transition: .5s;
}

.hover_top,
.hover_bottom {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover_bottom {
  flex-direction: column;
  padding-bottom: 30px;
}

.hover_top {
  padding-top: 30px;
}

.left_item {
  margin-right: 4px;
}

.bottom_title {
  text-transform: uppercase;
  color: #18CFAB;
  font-size: 14px;
  line-height: 25px;
  font-weight: 700;
}

.bottom_text {
  color: #8A8A8A;
  font-size: 12px;
  line-height: 25px;
  font-weight: 300;
}

.left_item,
.right_item {
  height: 40px;
  width: 40px;
  border: 1px solid #18CFAB;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_item_square {
  height: 12px;
  width: 12px;
  border: 1px solid #18CFAB;
}

.left_item:hover,
.right_item:hover {
  background-color: #18CFAB;
  transition: .5s;
}

.left_item:hover .hover_item_left path {
  fill: #FFFFFF;
  transition: .5s;
}

.right_item:hover .right_item_square {
  background-color: #FFFFFF;
  transition: .5s;
}

/* animation Loading */

.loader-wrap,
.masonry-loader-wrap {
  display: none;
  width: 150px;
  height: 150px;
  margin: 70px auto;
}

.active {
  display: block;
}

.loader {
  width: 160px;
  /* height: 12px; */
  position: relative;
  top: 70px;
}

.loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}

.loader span::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #00ff0d;
  border-radius: 50%;
  box-shadow: 0 0 10px #00ff0d,
    0 0 20px #00ff0d 0 0 40px #00ff0d 0 0 60px #00ff0d 0 0 80px #00ff0d 0 0 100px #00ff0d;
  animation: animate 2s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
    transform: scale(1);
  }

  80%,
  100% {
    transform: scale(0);
  }
}

/* section_four */

.sec_four_title {
  margin-top: 82px;
}

.sec_four_flex {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 250px 250px;
  row-gap: 60px;
  column-gap: 35px;
}

.sec_four_flex_link {
  display: flex;
  flex-direction: column;
  position: relative;
}

.sec_four_flex_descr {
  color: #717171;
  font-size: 18px;
  line-height: 38px;
  font-weight: 700;
  padding-left: 18px;
}

.sec_four_flex_comment {
  color: #777777;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  padding-left: 18px;
}

.sec_four_flex_date {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  height: 70px;
  width: 70px;
  background-color: #203E38;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}

.sec_four_flex_items:hover .sec_four_flex_descr {
  color: #18CFAB;
  transition: .5s;
}

.sec_four_flex_items:hover .sec_four_flex_date {
  background-color: #18CFAB;
  transition: .5s;
}

/* section_five */

.sec_five {
  background-image: url(./img/sec_five_bckg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1144px;
  max-width: 1920px;
  margin: 120px auto 0 auto;
  padding-top: 98px;
}

.sec_five_title {
  color: #FFFFFF;
}

.sec_five_comas {
  display: block;
  margin: 66px auto 36px auto;
}

.sec_five_text {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #BBBBBB;
  max-width: 1160px;
  text-align: center;
  margin-bottom: 110px;
}

.sec_five_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_five_pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid rgba(31, 218, 181, 0.2);
}

.item_arrow {
  width: 32px;
  height: 32px;
  border: 1px solid #BBBBBB;
  opacity: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_arrow:hover {
  background-color: #18CFAB;
  border: none;
  transition: .5s;
}

.item_arrow:hover .arrow path {
  fill: #FFFFFF;
}

.arrow path {
  fill: #BBBBBB;
  transition: .5s;
}

.sec_five_item {
  margin-right: 30px;
}

.sec_five_item:last-child {
  margin-right: 0;
}

.sec_five_slider {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sec_five_slider_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.sec_five_slider_pic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 14px solid rgba(31, 218, 181, 0.2);
  margin: 50px 0 90px 0;
  animation: pulse 3s linear infinite alternate;
}

@keyframes pulse {
  0% {
    border: 14px solid rgba(31, 218, 181, 0.3);
    transform: scale(1)
  }
  100% {
    border: 14px solid rgba(31, 218, 181, 0);
    transform: scale(1.02)
  }

}
.sec_five_name {
  color: #18CFAB;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
}

.sec_five_position {
  color: #BBBBBB;
  font-size: 13px;
  line-height: 27px;
  font-weight: 300;
  margin-top: 15px;
}

.sec_five_slider_active {
  display: flex;
  animation-name: face-move;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes face-move {
  0% {
    opacity: 5%;
  }

  100% {
    opacity: 100%;
  }
}

.pic_move {
  transform: translate(0, -30px);
  transition-duration: 1s;
  transition-timing-function: ease;
}


/* section_six */

.sec_six {
  margin-bottom: 80px;
}

.masonry-container {
  margin: 80px 0 50px 0;
}

.item_masonry {
  width: 373px;
  margin-bottom: 20px;
  position: relative;
}

.item_masonry img {
  width: 100%;
}

.inner_masonry {
  max-height: 437px;
}

.inn_masonry {
  margin-bottom: 3px;
}

.large_inner {
  width: 185px;
  height: auto;
}

.inner {
  width: 122px;
  margin-bottom: 3px;
}

.small_inner {
  width: 100%;
}


.cover_item_gallery {
  background: rgba(0, 0, 0, .64);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  display: none;
}


.icon_tools {
  height: 30px;
  width: 30px;
  background-color: #14B9D5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 70px;
  margin-top: -15px;
}

.search_icon {
  left: 20px;
}

/* footer */

.footer {
  height: 120px;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #22353F;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #AEAEAE;
}

.footer_link {
  color: #18CFAB;
}